.CloudWidgetScrollbar {
    overflow-y: scroll
}

.CloudWidgetScrollbar::-webkit-scrollbar {
    width: 10px;
}

.CloudWidgetScrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.CloudWidgetScrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}