<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Legion EDI web console</title>
</head>

<body>
    <div class="container">
        <h1>Legion EDI</h1>
        <h3>Your personal authorisation token is:</h3>
        <textarea onClick="this.setSelectionRange(0, this.value.length)">{{ token }}</textarea>
    </div>
</body>

<style>
    textarea {
        font-family:monospace;
        width:100%;
        min-height: 300px;
        padding: 5px 10px;
    }
</style>

</html>