{
    "id": 1,
    "orgId": 1,
    "name": "graphite",
    "type": "graphite",
    "typeLogoUrl": "public/app/plugins/datasource/graphite/img/graphite_logo.png",
    "access": "proxy",
    "url": "{{DATA_SOURCE_URL}}",
    "password": "",
    "user": "",
    "database": "",
    "basicAuth": false,
    "isDefault": true,
    "jsonData": {
      "graphiteVersion": "1.0"
    }
}