rootDomain: k8s-nightly.epm.kharlamov.biz
domainDelimiter: "-"
namespace: default
enclaveName: unknown
localDomain: "cluster.local"
addLocalDomain: false
clusterName: ""

log_level: info

auth:
  enabled: false
  annotations: {}

feedback:
  replicas: 1
  ingress:
    annotations: {}
    domain:
      partial: feedback
    tls:
      enabled: true
      autoSecretNameDeduction: true

  image:
    repository: "legion/k8s-fluentd"
    tag: "latest"

  s3:
    bucket: "none"
    region: "none"

    time_slice_format: "%Y%m%d%H"
    time_slice_wait: "5m"

    store_as: "json"

    buffering:
      timekey: 1m       # chunks length (window size)
      timekey_wait: 0s  # delay for flush (after end of window)
      path: /tmp

    format: "json"
    include_time_key: "true"
    time_key: "time"

edi:
  enabled: true
  replicas: 1
  image:
    repository: "legion/edi"
    tag: "latest"

  rbac: true

  k8s_api_retry_number_max_limit: 10
  k8s_api_retry_delay_sec: 3

  ingress:
    enabled: true
    annotations: {}
    domain:
      partial: edi
    tls:
      enabled: true
      autoSecretNameDeduction: true


edge:
  enabled: true
  replicas: 2
  enableHomePage: true
  image:
    repository: "legion/k8s-edge"
    tag: "latest"

  ingress:
    enabled: true
    annotations: {}
    domain:
      partial: edge
    tls:
      enabled: true
      autoSecretNameDeduction: true

jenkins:
  enabled: true
  image:
    repository: "legion/k8s-jenkins"
    tag: "latest"

  rbac: true

  ingress:
    enabled: true
    annotations: {}
    domain:
      partial: jenkins
    tls:
      enabled: true
      autoSecretNameDeduction: true

  git_secret_name: false

graphite:
  enabled: true
  url: "http://legion-core-graphite.company-a.svc.cluster.local:80"
  image:
    repository: "hopsoft/graphite-statsd"
    tag: "v0.9.15-phusion0.9.18"

grafana:
  adminUser: admin_user
  adminPassword: admin_password
  fullnameOverride: "legion-grafana"
  resources:
    limits:
      cpu: 512m
      memory: 512Mi
    requests:
      cpu: 256m
      memory: 256Mi
  sidecar:
    datasources:
      enabled: true
  persistence:
    enabled: true
    initChownData: true
    storageClassName: gp2
    accessModes:
    - ReadWriteOnce
    size: 10Gi
  service:
    labels:
      "legion.component": grafana

  ingress:
    enabled: true
    hosts:
    - "grafana.k8s-nightly.epm.kharlamov.biz"
    - "grafana.local.grafana.k8s-nightly.epm.kharlamov.biz"
    tls:
    - secretName: "k8s-nightly.epm.kharlamov.biz-tls"
      hosts: ["grafana.k8s-nightly.epm.kharlamov.biz"]
  env:
    GF_AUTH_ANONYMOUS_ENABLED: "true"
  annotations:
    nginx.ingress.kubernetes.io/auth-signin: "https://auth.legion.epm.org/oauth2/start?rd=https://$host$request_uri$is_args$args"
    nginx.ingress.kubernetes.io/auth-url: "http://oauth2-proxy.kube-system.svc.cluster.local:4180/oauth2/auth"

model_resources:
  cpu: 256m
  mem: 256Mi

connections:
  docker:
    type: proxy
    # http/https
    protocol: ~
    url: ~
    user: ~
    password: ~

secrets:
  token_ttl_minutes: "120"
  max_token_ttl_minutes: ~
  token_exp_datetime: ~
