---
##################
# Install Legion Enclave
##################

# NOTICE:
# You Must specify the next variables as extra vars (--extra-vars "XXXX=YYYY") 
# profile - unique cluster name
# enclave_name - enclave name to deploy

- hosts: localhost
  connection: local
  gather_facts: True
  vars_files:
    - "{{ lookup('env', 'PROFILES_PATH') or '../profiles' }}/{{ profile }}.yml"

  pre_tasks:
    - name: Download secrets from S3
      aws_s3:
        bucket: "{{ secrets_bucket }}"
        object: "vault/{{ profile }}"
        dest: "{{ secrets_file }}"
        mode: get

    - name: Include vars
      include_vars:
        file: "{{ secrets_file }}"

  post_tasks:
    - name: Delete secrets file
      file:
        name: "{{ secrets_file }}"
        state: absent

  tasks:
  - name: Configure kubectl using kops
    shell: "kops export kubecfg --name {{ cluster_name }} --state {{ state_store }}"
  
  - name: Remove legion chart
    shell: helm --kube-context {{ cluster_name }} delete --purge legion-{{ enclave_name }}
    ignore_errors: true
  
  - name: "Remove {{ enclave_name }} namespace"
    shell: "kubectl --context {{ cluster_name }} delete namespace {{ enclave_name }} --ignore-not-found=true --grace-period=10"
  
  - name: "Check that {{ enclave_name }} namespace has been removed"
    shell: "kubectl --context {{ cluster_name }} get namespace {{ enclave_name }}"
    register: namespace_check
    until: namespace_check.stderr.find(' not found') != -1
    retries: 5
    delay: 10
    ignore_errors: true
  
  - name: WORKAROUND delete pods in phase terminating
    shell: kubectl --context {{ cluster_name }} --namespace {{ enclave_name }}  delete --grace-period=0 --force po $(kubectl --context {{ cluster_name }} --namespace {{ enclave_name }} get po -o wide | grep Terminating | awk '{ print $1 }') || true

  - name: Get enclave IAM roles
    shell: "aws iam list-roles | grep {{ cluster_name }}-{{ enclave_name }} | grep RoleName | awk '{print $2}'| tr -d '\"' |tr -d ','"
    register: iam_roles

  - include_tasks: roles/k8s_terminate_cluster/tasks/remove-iam-role.yaml
    loop: "{{ iam_roles.stdout_lines }}"
    loop_control:
      loop_var: iam_role