<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job">
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GitRepository</name>
          <description>Git repository ssh</description>
          <defaultValue>{{GIT_URL}}</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GitBranch</name>
          <description>Git repository branch</description>
          <defaultValue>{{GIT_BRANCH}}</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>testUsers</name>
          <description>number of Locust users to spawn</description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>testHatchRate</name>
          <description>number of users to spawn per second</description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>testRequestsCount</name>
          <description>number of users to spawn per second</description>
          <defaultValue>10000</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>host</name>
          <description>host with model, for example: {{MODEL_HOST}}</description>
          <defaultValue>{{MODEL_HOST}}</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Enclave</name>
          <description>Name of enclave</description>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps">
    <scm class="hudson.plugins.git.GitSCM" plugin="git">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <refspec>+refs/pull/*:refs/remotes/origin/pr/* +refs/heads/*:refs/remotes/origin/*</refspec>
          <url>${GitRepository}</url>
          {% if GIT_ROOT_KEY %}
          <credentialsId>{{GIT_ROOT_KEY}}</credentialsId>
          {% endif %}
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>${GitBranch}</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions>
        <hudson.plugins.git.extensions.impl.SubmoduleOption>
          <disableSubmodules>false</disableSubmodules>
          <recursiveSubmodules>true</recursiveSubmodules>
          <trackingSubmodules>false</trackingSubmodules>
          <reference></reference>
          <parentCredentials>true</parentCredentials>
        </hudson.plugins.git.extensions.impl.SubmoduleOption>
      </extensions>
    </scm>
    <scriptPath>{{JENKINS_PERFORMANCE_FILE}}</scriptPath>
    <lightweight>false</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>