**
!Makefile
!containers/**
!legion/cli/**
!legion/operator/cmd/**
!legion/operator/pkg/**
!legion/operator/docs/**
!legion/operator/templates/**
!legion/operator/hack/**
!legion/operator/Gopkg.toml
!legion/operator/Gopkg.lock
!legion/operator/.golangci.yml
!legion/operator/Makefile
!legion/operator/PROJECT
!legion/feedback-aggregator/cmd/**
!legion/feedback-aggregator/pkg/**
!legion/feedback-aggregator/templates/**
!legion/feedback-aggregator/Gopkg.toml
!legion/feedback-aggregator/Gopkg.lock
!legion/feedback-aggregator/Makefile
!legion/jupyterlab-plugin/*.json
!legion/jupyterlab-plugin/*.py
!legion/jupyterlab-plugin/*.txt
!legion/jupyterlab-plugin/jupyter-config/**
!legion/jupyterlab-plugin/legion/**
!legion/jupyterlab-plugin/style/**
!legion/jupyterlab-plugin/src/**
!legion/jupyterlab-plugin/MANIFEST.in
!legion/jupyterlab-plugin/README.md
!legion/jupyterlab-plugin/package.json
!legion/jupyterlab-plugin/Pipfile.lock
!legion/jupyterlab-plugin/Pipfile
!legion/jupyterlab-plugin/requirements.txt
!legion/jupyterlab-plugin/setup.py
!legion/jupyterlab-plugin/tsconfig.json
!legion/jupyterlab-plugin/tslint.json
!legion/jupyterlab-plugin/yarn.lock
!legion/robot/**
!legion/sdk/**
!legion/services/**
!legion/tests/**
!legion/toolchains/**
!legion/packager/**
!scripts/**
!docs/**
!examples/**
