**
!Makefile
!containers/**
!legion/cli/**
!legion/operator/cmd/**
!legion/operator/pkg/**
!legion/operator/docs/**
!legion/operator/templates/**
!legion/operator/Gopkg.toml
!legion/operator/Gopkg.lock
!legion/operator/PROJECT
!legion/robot/**
!legion/sdk/**
!legion/services/**
!legion/tests/**
!legion/toolchains/**
!scripts/**
!docs/**
!examples/**