[FORMAT]
max-line-length=120

[BASIC]
const-rgx=(([A-Z_][A-Za-z0-9_]*)|(__.*__))$

[MISCELLANEOUS]

# do not remove this. This line makes pylint to ignore FIXME,XXX,TODO
notes=

[MESSAGES CONTROL]
# W1202 - Use % formatting in logging functions and pass the % parameters as arguments
# C0330 - wrong continued indentation
# R1710 - Either all return statements in a function should return an expression, or none of them should.
# R0201 - method could be a function
# R0913 - Too many arguments
# R1705 - Unnecessary else after return
# W0603 - Using the global statement
# W1201 - Specify string format arguments as logging function parameters
# W0212 - Access to a protected member _content of a client class
# W0107 - Unnecessary pass statement
# W0641 - Possibly unused variable
# C0103 - Variable name doesn't conform to snake_case naming style
# W0613 - Unused argument
# W0612 - Unused variable
disable=W1202,C0330,R1710,R0201,R0913,R1705,W0603,W1201,W0212,W0107,W0641,C0103,W0613,W0612
good-names=blueprint,id
