#######################################################################################
#
#     The file designate users having permissions to merge PRs to the project. 
#
#######################################################################################

* @legion-platform/committers



