#
#   Copyright 2017 EPAM Systems
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#
version: "3"

services:
  base-python-image:
    build:
      context: base-python-image
    image: drun/base-python-image:latest
    networks:
      - drun_root
    restart: "no"

  jupyter:
    image: drun/base-python-image
    build:
      context: base-python-image
    networks:
      - drun_root
    labels:
      com.epam.drun.container_type: service
      com.epam.drun.container_description: Jupyter notebook server
    environment:
      - PYTHONPATH=/opt/project
      - PYDEVD_HOST
      - PYDEVD_PORT=5501
    entrypoint:
      - python3
      - -u
      - /opt/project/jupyter/jupyter.py
    ports:
      - 8888:8888
    working_dir: /opt/project/jupyter
    volumes:
      - ./workspace/drun:/drun
      - ./examples:/notebooks
      - ./:/opt/project

  legion:
    depends_on:
      - consul
    image: drun/base-python-image
    build:
      context: base-python-image
    networks:
      - drun_root
    labels:
      com.epam.drun.container_type: service
      com.epam.drun.container_description: Legion server (serves dummy model)
      com.epam.drun.container_required: 'false'
    environment:
      - PYTHONPATH=/opt/project
      - PYDEVD_HOST
      - PYDEVD_PORT=5502
    entrypoint:
      - python3
      - -u
      - /opt/project/drun/bin/legion
      - pyserve-dummy
    ports:
      - 5000:5000
    volumes:
      - ./workspace/drun:/drun
      - .:/opt/project

  grafana:
    build:
      context: grafana
    image: drun/grafana
    networks:
      - drun_root
    labels:
      com.epam.drun.container_type: service
      com.epam.drun.container_description: Grafana server
    environment:
      - PYTHONPATH=/opt/project
      - GF_SERVER_ROOT_URL=http://parallels/grafana
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_INSTALL_PLUGINS=
      - GF_GRAPHITE_DATASOURCE=http://graphite:80
    ports:
      - 3000:3000
    volumes:
      - ./workspace/drun:/drun
      - ./workspace/grafana:/var/lib/grafana
      - ./grafana/scripted_dashboards/model_builds.js:/usr/share/grafana/public/dashboards/model_builds.js
      - .:/opt/project

  jenkins:
    build:
      context: jenkins
    image: drun/jenkins
    networks:
      - drun_root
    environment:
      - DOCKER_HOST=${JENKINS_DOCKER_HOST}
      - DOCKER_CERT_PATH=/home/jenkins/.docker
      - DOCKER_TLS_VERIFY=1
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false -Dcom.epam.drun.jenkins.dashboard.url=/grafana/dashboard/script/model_builds.js?orgId=1&theme=light&model= -Dcom.epam.drun.jenkins.report.html.path=notebook.html"
      - DRUN_MODEL_SERVER_URL=http://edge:80
    ports:
      - 8081:8080
    volumes:
      - ${JENKINS_DOCKER_KEYS}:/home/jenkins/.docker
      - ./keys/git-deploy.key:/var/jenkins_home/.ssh/id_rsa
    logging:
      driver: none

  graphite:
    image: hopsoft/graphite-statsd
    networks:
      - drun_root
    labels:
      com.epam.drun.container_type: service
      com.epam.drun.container_description: Graphite server
    ports:
      - 81:80
      - 2003:2003
      - 8126:8126
      - 8125:8125/udp
#    logging:
#      driver: none
    volumes:
      - ./graphite/statsd/config.js:/opt/statsd/config_udp.js

  edge:
    depends_on:
      - consul
      - graphite
      - kibana
    image: drun/edge
    build:
      context: edge
    networks:
      - drun_root
    labels:
      com.epam.drun.container_type: service
      com.epam.drun.container_description: Web server (load balancer)
    environment:
      - CONSUL_HTTP_ADDR=http://consul:8500
    ports:
      - 80:80
    volumes:
      - ./edge/static:/static
      - ./edge/nginx.conf.ctmpl:/nginx.conf.ctmpl
#    logging:
#      driver: none

  consul:
    image: library/consul:latest
    networks:
      - drun_root
    labels:
      com.epam.drun.container_type: service
      com.epam.drun.container_description: Consul server (load balancer)
    ports:
      - 8500:8500
    logging:
      driver: none

  elasticsearch:
    image: drun/elasticsearch
    build: elasticsearch
    networks:
      - drun_root
    labels:
      com.epam.drun.container_type: service
      com.epam.drun.container_description: Elasticsearch server
    restart: always
    ports:
      - 9200:9200
    volumes:
      - ./workspace/elasticsearch/data/node:/usr/share/elasticsearch/data/node

  logstash:
    image: drun/logstash
    build: logstash
    networks:
      - drun_root
    depends_on:
      - elasticsearch
    labels:
      com.epam.drun.container_type: service
      com.epam.drun.container_description: Logstash server
    restart: always
    command: logstash -f /config-dir/logstash.conf
    ports:
      - 5001:5001
      - "5001:5001/udp"
      - 9600:9600
      - 12201:12201
      - "12201:12201/udp"

  kibana:
    image: drun/kibana
    build: kibana
    depends_on:
      - elasticsearch
      - logstash
    networks:
      - drun_root
    labels:
      com.epam.drun.container_type: service
      com.epam.drun.container_description: Kibana server
    restart: always
    ports:
      - 5601:5601
    environment:
      - SERVER_BASEPATH=/kibana

  curator:
    image: drun/curator
    build: curator
    networks:
      - drun_root
    labels:
      com.epam.drun.container_type: service
      com.epam.drun.container_description: Curator (scheduled tasks)
    restart: always

  logspout:
    image: drun/logspout
    build: logspout
    networks:
      - drun_root
    depends_on:
      - logstash
    labels:
      com.epam.drun.container_type: service
      com.epam.drun.container_description: Logspout
    volumes:
      - /etc/hostname:/etc/host_hostname:ro
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - ROUTE_URIS=syslog://logstash:12201

networks:
  drun_root:
    driver: bridge