rootDomain: {{ base_domain }}
clusterName: {{ cluster_name }}
namespace: default
localDomain: "cluster.local"
addLocalDomain: true

package:
  version: "{{ legion_version }}"
  repository: "{{ pypi_repo }}"

  baseImage:
    repository: "{{ docker_repo }}/base-python-image"
    tag: "{{ legion_version }}"

secrets:
  nexus:
    admin: "jonny"

jenkins:
  enabled: true
  persistence:
    storageClass: {% if persistent_jenkins_volume %}"jenkins-volume"{% else %}""{% endif %}
    
    size: {{ jenkins_volume_size | default('20') }}Gi

  dags_volume_pvc: "{{ airflow_dags_pvc }}"
  airflow_dags_directory: "{{ airflow_dags_dir }}"
  image:
    repository: "{{ docker_repo }}/k8s-jenkins"
    tag: "{{ legion_version }}"

  git_secret_name: "{{ git_secret_name }}"

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}

  airflow:
    enabled: true
    rest_url: 'http://airflow-web:8080/admin/rest_api'
    s3_url: "s3://{{ airflow_s3_bucket_name }}/"
    expected_output: '{{ airflow_expected_output }}'

  openId:
    enable: {{ dex.enabled | default(false) | bool }}
    clientId: {{ dex.config.client_id | default("~") }}
    clientSecret: {{ dex.config.client_secret | default("~") }}
    tokenServerUrl: https://dex.{{ cluster_name }}/token
    authServerUrl: https://dex.{{ cluster_name }}/auth
    adminGroups: "
    {%- for item in dex.groups_binding.kubernetes -%}
    {%- if item.clusterrolebinding == "cluster-admin" %} {{ item.name }}
    {%- endif -%}
    {% endfor %}
    {%- for item in dex.groups_binding.jenkins -%}
    {%- if item.role == "admin" %} {{ item.name }}
    {%- endif -%}
    {% endfor %}"
    readOnlyGroups: "
    {%- for item in dex.groups_binding.kubernetes -%}
    {%- if item.clusterrolebinding == "view" %} {{ item.name }}
    {%- endif -%}
    {% endfor %}
    {%- for item in dex.groups_binding.jenkins -%}
    {%- if item.role == "view" %} {{ item.name }}
    {%- endif -%}
    {% endfor %}"

graphite:
  enabled: true
  image:
    repository: "hopsoft/graphite-statsd"
    tag: "latest"

grafana:
  enabled: true
  image:
    repository: "{{ docker_repo }}/k8s-grafana"
    tag: "{{ legion_version }}"

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}

nexus:
  enabled: true

  ingress:
{% if dex.enabled == true %}

    annotations:
      nginx.ingress.kubernetes.io/auth-signin: https://auth.{{ cluster_name }}/oauth2/start?rd=https://$host$request_uri$is_args$args
      nginx.ingress.kubernetes.io/auth-url: http://oauth2-proxy.kube-system.svc.cluster.local:4180/oauth2/auth
{% endif %}
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}
