rootDomain: {{ base_domain }}
clusterName: {{ cluster_name }}
namespace: default
localDomain: "cluster.local"
addLocalDomain: true

package:
  version: "{{ base_version }}+{{ local_version }}"
  repository: "{{ nexus_pypi_repo }}"

  baseImage:
    repository: "{{ nexus_docker_repo }}/legion/base-python-image"
    tag: "{{ base_version }}-{{ local_version }}"

secrets:
  nexus:
    admin: "jonny"

jenkins:
  enabled: true
  dags_volume_pvc: "{{ airflow_dags_pvc }}"
  airflow_dags_directory: "{{ airflow_dags_dir }}"
  image:
    repository: "{{ nexus_docker_repo }}/legion/k8s-jenkins"
    tag: "{{ base_version }}-{{ local_version }}"

  git_secret_name: "{{ git_secret_name }}"

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}

  airflow:
    enabled: true
    rest_url: 'http://airflow-web:8080/admin/rest_api'
    s3_url: "s3://{{ airflow_s3_bucket_name }}/"
    expected_output: '{{ airflow_expected_output }}'

  openId:
    enable: {{ dex.enabled | default(false) | bool }}
    clientId: {{ dex.config.client_id | default("~") }}
    clientSecret: {{ dex.config.client_secret | default("~") }}
    tokenServerUrl: https://dex.{{ cluster_name }}/token
    authServerUrl: https://dex.{{ cluster_name }}/auth
    adminGroups: "
    {%- for item in dex.groups -%}
    {%- if item.clusterrolebinding == "cluster-admin" %} {{ item.group }}
    {%- endif -%}
    {% endfor %}"
    readOnlyGroups: "
    {%- for item in dex.groups -%}
    {%- if item.clusterrolebinding == "view" %} {{ item.group }}
    {%- endif -%}
    {% endfor %}"

graphite:
  enabled: true
  image:
    repository: "hopsoft/graphite-statsd"
    tag: "latest"

grafana:
  enabled: true
  image:
    repository: "{{ nexus_docker_repo }}/legion/k8s-grafana"
    tag: "{{ base_version }}-{{ local_version }}"

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}

nexus:
  enabled: true

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}
