rootDomain: {{ base_domain }}
clusterName: {{ cluster_name }}
namespace: default
localDomain: "cluster.local"
addLocalDomain: true

package:
  version: "{{ legion_version }}"
  repository: "{{ pypi_repo }}"

  baseImage:
    repository: "{{ docker_repo }}/base-python-image"
    tag: "{{ legion_version }}"

secrets:
  nexus:
    admin: "jonny"

jenkins:
  enabled: true
  dags_volume_pvc: "{{ airflow_dags_pvc }}"
  airflow_dags_directory: "{{ airflow_dags_dir }}"
  image:
    repository: "{{ docker_repo }}/k8s-jenkins"
    tag: "{{ legion_version }}"

  git_secret_name: "{{ git_secret_name }}"

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}

  airflow:
    enabled: true
    rest_url: 'http://airflow-web:8080/admin/rest_api'
    s3_url: "s3://{{ airflow_s3_bucket_name }}/"
    expected_output: '{{ airflow_expected_output }}'

graphite:
  enabled: true
  image:
    repository: "hopsoft/graphite-statsd"
    tag: "latest"

grafana:
  enabled: true
  image:
    repository: "{{ docker_repo }}/k8s-grafana"
    tag: "{{ legion_version }}"

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}

nexus:
  enabled: true

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}
