apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-worker"
  labels:
    heritage: {{ .Release.Service | quote }}
    release: {{ .Release.Name | quote }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    component: "{{ .Release.Name }}-worker"
    app: "{{ .Release.Name }}-airflow-worker"
spec:
  replicas: 1
  selector:
    matchLabels:
      component: "{{ .Release.Name }}-worker"
      app: "{{ .Release.Name }}-airflow-worker"
  template:
    metadata:
      annotations:
        iam.amazonaws.com/role: "{{ .Values.clusterName }}-{{ .Values.enclave }}-airflow-role"
      labels:
        component: "{{ .Release.Name }}-worker"
        app: "{{ .Release.Name }}-airflow-worker"
    spec:
      serviceAccountName: "{{ .Release.Name }}-airflow-worker"
      containers:
      - name: worker
        image: "{{ .Values.image }}"
        resources:
          requests:
            cpu: "{{ .Values.worker.cpu_requests }}"
            memory: "{{ .Values.worker.mem_requests }}"
          limits:
            cpu: "{{ .Values.worker.cpu_limits }}"
            memory: "{{ .Values.worker.mem_limits }}"
        env:
        - name: POSTGRES_HOST
        {{- if .Values.postgres.external}}
          value: "{{ .Values.postgres.host }}"
        {{- else }}
          value: "{{ .Release.Name }}-postgres"
        {{- end }}
        - name: POSTGRES_PORT
          value: "{{ .Values.postgres.port }}"
        - name: REDIS_HOST
          value: "{{ .Release.Name }}-redis"
        - name: AIRFLOW_HOME
          value: "/home/airflow"
        - name: MODEL_SERVER_URL
          value: "http://{{ .Values.legion_release }}-edge"
        - name: EDI_URL
          value: "http://{{ .Values.legion_release }}-edi"
        - name: NAMESPACE
          value: "{{ .Release.Namespace }}"
        - name: S3_BUCKET_NAME
          value: {{ .Values.storage.bucket_name }}
        volumeMounts:
        - name: airflow-config
          mountPath: /home/airflow/airflow.cfg
          subPath: airflow.cfg
        - name: dag-volume
          mountPath: "{{ .Values.storage.airflow_dags_directory }}"
        - name: airflow-config-dir
          mountPath: /home/airflow/config
        args: ["airflow", "worker"]
      volumes:
      - name: airflow-config-dir
        configMap:
          name: "{{ .Release.Name }}-log-config"
      - name: airflow-config
        secret:
          secretName: "{{ .Release.Name }}-config"
          items:
          - key: airflow.cfg
            path: airflow.cfg
      - name: dag-volume
        persistentVolumeClaim:
          {{- if .Values.storage.use_specified_pvc }}
          claimName: {{ .Values.storage.pvc_name }}
          {{- else}}
          claimName: "{{ .Release.Name }}-dag-pvc"
          {{- end}}