[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "==1.24"
dill = "==0.2.7.1"
python-interface = "==1.4.0"
numpy = "==1.14.3"
pandas = "==0.23.0"
docker = "==3.1.3"
statsd = "==3.2.2"
requests = "==2.20.1"
kubernetes = "==6.0.0"
aionotify = "==0.2.0"
docker-registry-client = "==0.5.2"
Flask = "==0.12.4"
Pillow = "==5.0.0"
"Jinja2" = "==2.10"
PyYAML = "==3.12"
PyJWT = "==1.6.4"
"boto3" = "==1.7.17"
python-jenkins = "==0.4.15"
robotframework = "==3.0.2"
robotframework-seleniumlibrary = "==3.1.1"
robotframework-pabot = "==0.44"
pyOpenSSL = "==18.0.0"

[dev-packages]
"unittest2" = "==1.1.0"
nose = "==1.3.7"
pycodestyle = "==2.3.1"
pydocstyle = "==2.1.1"
pylint = "==2.2.2"
tox = "==2.8.2"
locustio = "==0.8.1"
coverage = "==4.4.1"
docker-registry-client = "==0.5.2"

[requires]
python_version = "3.6"
