kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "{{ airflow_dags_pvc }}"
  labels:
    app: "legion-airflow-{{ enclave }}"
spec:
  accessModes:
    - "ReadWriteMany"
  resources:
    requests:
      storage: "{{ airflow_pvc }}"
  storageClassName: "{{ storageclass }}"
