namespace: default
awsAccountId: {{ aws.account_id }}
clusterName: {{ cluster_name }}
enclave: {{ enclave }}
rootDomain: {{ root_domain }}
localDomain: "cluster.local"


image: "{{ docker_repo }}/k8s-airflow:{{ legion_version }}"

secrets:
  postgres:
    user: {{ airflow_db_enclave_user }}
    password: {{ airflow_db_enclave_pass.stdout }}
    db: {{ aws.rds.database_name }}
    schema: {{ airflow_db_schema }}

  fernet_key: {{ airflow.fernet_key }}
  flask: {{ secret_flask }}

connections:
{{ airflow.connections|to_yaml }}

postgres:
  external: true
  host: {{ airflow_rds_instance_facts.instance.endpoint }}
  port: 5432

core:
  logging_level: info
  remote_logging: true
  remote_base_log_folder: "{{ airflow_s3_logs_url }}"
  remote_log_conn_id: s3_conn

webserver:
  worker_refresh_interval: 10
  email_backend: {{ airflow.webserver.email_backend | default('airflow.utils.email.send_email_smtp') }}
  authenticate: {{ airflow_auth.enabled }}
  dex_group_admin: "
    {%- for item in dex.groups_binding.kubernetes -%}
    {%- if item.clusterrolebinding == "cluster-admin" %} {{ item.name }}
    {%- endif -%}
    {% endfor %}
    {%- for item in dex.groups_binding.airflow -%}
    {%- if item.role == "admin" %} {{ item.name }}
    {%- endif -%}
    {% endfor %}"
  dex_group_profiler: "
    {%- for item in dex.groups_binding.kubernetes -%}
    {%- if item.clusterrolebinding == "view" %} {{ item.name }}
    {%- endif -%}
    {% endfor %}
    {%- for item in dex.groups_binding.airflow -%}
    {%- if item.role == "view" %} {{ item.name }}
    {%- endif -%}
    {% endfor %}"
  auth_backend: {{ airflow_auth.auth_backend }}

smtp:
  smtp_host: {{ airflow.email.smtp_host }}
  smtp_starttls: {{ airflow.email.smtp_starttls }}
  smtp_ssl: {{ airflow.email.smtp_ssl }}
  smtp_user: {{ airflow.email.smtp_user }}
  smtp_port: {{ airflow.email.smtp_port }}
  smtp_password: {{ airflow.email.smtp_password }}
  smtp_mail_from: {{ airflow.email.smtp_mail_from }}

slack:
  username: {{ airflow.slack.username | default('~') }}
  channel: {{ airflow.slack.channel | default('~') }}
  token: {{ airflow.slack.token | default('~') }}

storage:
  use_specified_pvc: true
  dags_volume_pvc: "{{ airflow_dags_pvc }}"
  airflow_dags_directory: "{{ airflow_dags_dir }}"
  pvc_name: "{{ airflow_dags_pvc }}"
  s3_root_path: "s3://{{airflow_s3_bucket_name}}/"

ingress:
  enabled: true
  url_suffix: {{ enclave }}
  tls:
    enabled: true
{% if dex.enabled == true %}
  annotations:
    nginx.ingress.kubernetes.io/auth-signin: https://auth.{{ cluster_name }}/oauth2/start?rd=https://$host$request_uri$is_args$args
    nginx.ingress.kubernetes.io/auth-url: http://oauth2-proxy.kube-system.svc.cluster.local:4180/oauth2/auth
    nginx.ingress.kubernetes.io/configuration-snippet: |
      auth_request_set $token $upstream_http_authorization;
      proxy_set_header Authorization $token;
{% endif %}

legion_release: "legion-{{ enclave }}"
