rootDomain: {{ root_domain }}
enclaveName: "{{ enclave }}"
clusterName: "{{ cluster_name }}"
namespace: default

log_level: {{ log_level }}

{% if dex.enabled == true %}
auth:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
        set_escape_uri $escaped_request_uri $request_uri;
    nginx.ingress.kubernetes.io/auth-signin: https://auth.{{ cluster_name }}/oauth2/start?rd=https://$host$escaped_request_uri
    nginx.ingress.kubernetes.io/auth-url: http://oauth2-proxy.kube-system.svc.cluster.local:4180/oauth2/auth
{% endif %}

package:
  version: "{{ legion_version }}"
  repository: "{{ pypi_repo }}"

  baseImage:
    repository: "{{ docker_repo }}/base-python-image"
    tag: "{{ legion_version }}"

feedback:
  replicas: "{{ collector.replicas }}"

  image:
    repository: "{{ docker_repo }}/k8s-fluentd"
    tag: "{{ legion_version }}"

  s3:
    bucket: "{{ legion_data_s3_bucket }}"
    region: "{{ collector.region }}"
    path: "model_log/${tag}/${model_id}/${model_version}/year=%Y/month=%m/day=%d/"

grafana:
  adminUser: "{{ grafana.admin.username }}"
  adminPassword:  "{{ grafana.admin.password }}"
  fullnameOverride: "legion-{{ enclave }}-grafana"
  ingress:
    enabled: true
    path: /
    hosts:
      - "grafana-{{ root_domain }}"
      - "grafana.local.{{ root_domain }}"
    tls:
      - secretName: "{{ root_domain }}-tls"
        hosts: ["grafana-{{ root_domain }}"]
    annotations:
      nginx.ingress.kubernetes.io/configuration-snippet: |
          set_escape_uri $escaped_request_uri $request_uri;
      nginx.ingress.kubernetes.io/auth-signin: https://auth.{{ cluster_name }}/oauth2/start?rd=https://$host$escaped_request_uri
      nginx.ingress.kubernetes.io/auth-url: http://oauth2-proxy.kube-system.svc.cluster.local:4180/oauth2/auth

graphite:
  url: "http://legion-{{ enclave }}-graphite.{{ enclave }}.svc.cluster.local:80"

edge:
  enabled: true
  replicas: 2
  enableHomePage: {% if (hide_edge_page | default('false')) == true %}false{% else %}true{% endif %}

  image:
    repository: "{{ docker_repo }}/k8s-edge"
    tag: "{{ legion_version }}"

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}

edi:
  enabled: true
  replicas: 2
  image:
    repository: "{{ docker_repo }}/k8s-edi"
    tag: "{{ legion_version }}"

  k8s_api_retry_number_max_limit: "{{ k8s_api_retry_number_max_limit }}"
  k8s_api_retry_delay_sec: "{{ k8s_api_retry_delay_sec }}"

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}

connections:
  docker:
    type: proxy
    protocol: "{{ model_docker_protocol }}"
    url: "{{ model_docker_url }}"
    user: "{{ docker.user }}"
    password: "{{ docker.password }}"

secrets:
  token_secret: "{{ enclave_jwt_secret }}"
  token_ttl_minutes: "{{ api.jwt_ttl_minutes | default('120') }}"
  max_token_ttl_minutes: "{{ max_token_ttl_minutes | default('259200') }}"
  token_exp_datetime: "{{ api.jwt_exp_datetime | default('') }}"

model_resources:
  cpu: {{ model_resources_cpu }}
  mem: {{ model_resources_mem }}