rootDomain: {{ root_domain }}
enclaveName: "{{ enclave }}"
namespace: default

package:
  version: "{{ legion_version }}"
  repository: "{{ pypi_repo }}"

  baseImage:
    repository: "{{ docker_repo }}/base-python-image"
    tag: "{{ legion_version }}"

grafana:
  image:
    repository: "{{ docker_repo }}/k8s-grafana"
    tag: "{{ legion_version }}"

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}
{% if dex.enabled == true %}

    annotations:
      nginx.ingress.kubernetes.io/auth-signin: https://auth.{{ cluster_name }}/oauth2/start?rd=https://$host$request_uri$is_args$args
      nginx.ingress.kubernetes.io/auth-url: http://oauth2-proxy.kube-system.svc.cluster.local:4180/oauth2/auth
{% endif %}

edge:
  enabled: true
  replicas: 2
  image: 
    repository: "{{ docker_repo }}/k8s-edge"
    tag: "{{ legion_version }}"

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}

edi:
  enabled: true
  replicas: 2
  image:
    repository: "{{ docker_repo }}/k8s-edi"
    tag: "{{ legion_version }}"

  ingress:
    tls:
      enabled: {% if use_https == "yes" %}true{% else %}false{% endif %}
