apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kube-elb-security.fullname" . }}
  labels:
    app: {{ include "kube-elb-security.name" . }}
    chart: {{ include "kube-elb-security.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "kube-elb-security.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        iam.amazonaws.com/role: {{ .Values.iam_role }}
      labels:
        app: {{ include "kube-elb-security.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "512Mi"
          args:
          - "/kube-elb-security"
          - "-alsologtostderr"
          - "-labelSelector={{ .Values.labelSelector }}"
          resources:
{{ toYaml .Values.resources | indent 12 }}
{{ if .Values.rbac.install }}
      serviceAccount: {{ include "kube-elb-security.fullname" . }}
      serviceAccountName: {{ include "kube-elb-security.fullname" . }}
{{ end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
