ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx

  hosts:
    - {{ domain }}
    - dashboard.local.{{ base_domain }}

{% if use_https == "yes" %}
  tls:
    - secretName: {{ domain }}-tls
      hosts:
        - {{ domain }}
{% endif %}

rbac:
  create: true
