ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx

  hosts:
    - {{ base_domain }}
    - dashboard.{{ base_domain }}
    - dashboard.local.{{ base_domain }}

{% if use_https == "yes" %}
  tls:
    - secretName: {{ base_domain }}-tls
      hosts:
        - {{ base_domain }}
        - dashboard.{{ base_domain }}
        - dashboard.local.{{ base_domain }}
{% endif %}

rbac:
  create: true
