[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.0"
PyYAML = "==5.1.1"
pydantic = "==0.29"
docker = "*"
apache-libcloud = "*"

[requires]
python_version = "3.6"
