[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
notebook = "==5.7.8"
pydantic = "==0.26"
jupyterlab = "==0.35.6"

[requires]
python_version = "3.6"
