---

####################
# Install Ingress
####################

# Deploy ingress and default backend

- name: Create Ingress configuration
  template:
    src: "{{ item }}.yml.j2"
    dest: "{{ tmp_dir }}/{{ item }}.{{ cluster_name }}.yml"
    mode: 0644
  with_items:
    - ingress-k8s
    - ingress-rbac
    - ingress-aws

- name: Deploy ingress and the default backend
  shell: |
    kubectl --context {{ cluster_name }} apply -f {{ tmp_dir }}/ingress-k8s.{{ cluster_name }}.yml
    kubectl --context {{ cluster_name }} apply -f {{ tmp_dir }}/ingress-rbac.{{ cluster_name }}.yml

- name: Patch Ingress controller
  shell: |
    kubectl --context {{ cluster_name }} patch deployment -n ingress-nginx nginx-ingress-controller --type='json' \
        --patch="$(curl https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/publish-service-patch.yaml)"

- name: Deploy aws ingress
  shell: |
    kubectl --context {{ cluster_name }} apply -f {{ tmp_dir }}/ingress-aws.{{ cluster_name }}.yml

- name: "Set namespace label"
  shell: kubectl --context {{ cluster_name }} label ns ingress-nginx k8s-component=ingress --overwrite

- name: Get Ingress ELB endpoint
  shell: kubectl --context {{ cluster_name }} describe services ingress-nginx --namespace ingress-nginx |grep .elb.amazonaws.com| awk '{ print $3 }'
  register: ingress_elb_endpoint
  until: ingress_elb_endpoint.stdout.find(".elb.amazonaws.com") != -1
  retries: 6
  delay: 10

- name: Create ingress DNS record
  route53:
    state: present
    zone: "{{ route53_zone }}"
    record: "*.{{ base_domain }}"
    type: CNAME
    value: "{{ ingress_elb_endpoint.stdout }}"
    overwrite: true
