rootDomain: k8s-nightly.epm.kharlamov.biz
localDomain: "cluster.local"
enclaveDeploymentPrefix: "legion-"
domainDelimiter: "."
s3BucketName: ""
cluster_prefix: ""

auth:
  enabled: false
  annotations: {}

secrets:
  nexus:
    admin: "jonny"

jenkins:
  enabled: true
  image:
    repository: "legion/k8s-jenkins"
    tag: "latest"

  rbac: true

  ingress:
    enabled: true
    annotations: {}
    domain:
      partial: jenkins
    tls:
      enabled: true
      autoSecretNameDeduction: true

  git_secret_name: false

  persistence:
    storageClass: ""
    size: 20Gi

  airflow:
    enabled: false
    rest_url: ''
    s3_url: ''
    expected_output: ''

    dags_volume_pvc: ''

  openId:
    enable: false
    clientId: ~
    clientSecret: ~
    tokenServerUrl: ~
    authServerUrl: ~
    adminGroups: ~
    readOnlyGroups: ~

connections:
  docker:
    type: proxy
    url: ~
    user: ~
    password: ~
  nexus_raw:
    url: ~
    user: ~
    password: ~

grafana:
  enabled: true
  image:
    repository: "legion/k8s-grafana"
    tag: "latest"

  # graphite: "aaaa"

  ingress:
    enabled: true
    annotations: {}
    domain:
      partial: grafana
    tls:
      enabled: true
      autoSecretNameDeduction: true

  openId:
    enable: false
    clientId: ~
    clientSecret: ~
    tokenServerUrl: ~
    authServerUrl: ~

graphite:
  enabled: true


