rootDomain: k8s-nightly.epm.kharlamov.biz
localDomain: "cluster.local"
enclaveDeploymentPrefix: "legion-"
domainDelimiter: "."
s3BucketName: ""
cluster_prefix: ""

auth:
  enabled: false
  annotations: {}

jenkins:
  enabled: true
  image:
    repository: "legion/k8s-jenkins"
    tag: "latest"

  rbac: true

  ingress:
    enabled: true
    annotations: {}
    domain:
      partial: jenkins
    tls:
      enabled: true
      autoSecretNameDeduction: true

  git_secret_name: false

  persistence:
    storageClass: ""
    size: 20Gi

  openId:
    enable: false
    clientId: ~
    clientSecret: ~
    tokenServerUrl: ~
    authServerUrl: ~
    adminGroups: ~
    readOnlyGroups: ~

connections:
  docker:
    type: proxy
    url: ~
    user: ~
    password: ~

grafana:
  adminUser: admin_user
  adminPassword: admin_password
  fullnameOverride: "legion-core-grafana"
  extraConfigmapMounts:
    - name: grafana-model-build-js
      configMap: grafana-model-build-js
      mountPath: /usr/share/grafana/public/dashboards
      readOnly: true
  resources:
    limits:
      cpu: 512m
      memory: 512Mi
    requests:
      cpu: 256m
      memory: 256Mi
  sidecar:
    dashboards:
      enabled: true
    datasources:
      enabled: true
  persistence:
    enabled: true
    initChownData: true
    storageClassName: gp2
    accessModes:
    - ReadWriteOnce
    size: 10Gi
  service:
    labels:
      legion.component: grafana
  ingress:
    enabled: true
    hosts:
    - "grafana.k8s-nightly.epm.kharlamov.biz"
    - "grafana.local.grafana.k8s-nightly.epm.kharlamov.biz"
    tls:
    - secretName: "k8s-nightly.epm.kharlamov.biz-tls"
      hosts: ["grafana.k8s-nightly.epm.kharlamov.biz"]
    annotations:
      nginx.ingress.kubernetes.io/auth-signin: "https://auth.legion.epm.org/oauth2/start?rd=https://$host$request_uri$is_args$args"
      nginx.ingress.kubernetes.io/auth-url: "http://oauth2-proxy.kube-system.svc.cluster.local:4180/oauth2/auth"
  env:
    GF_AUTH_ANONYMOUS_ENABLED: "true"
  setup:
    image:
      repository: legion/k8s-ansible
      tag: latest

graphite:
  url: "http://legion-core-graphite.default.svc.cluster.local:80"
  enabled: true


