apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: {{ include "kube-fluentd.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "kube-fluentd.name" . }}
    helm.sh/chart: {{ include "kube-fluentd.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "kube-fluentd.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
    {{- with .Values.annotations }}
      annotations:
  {{ toYaml . | indent 8 }}
    {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "kube-fluentd.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ include "kube-fluentd.fullname" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: spec.nodeName
          - name: KUBE_LOGS_S3_BUCKET_NAME
            value: {{ .Values.KUBE_LOGS_S3_BUCKET_NAME }}
          - name: KUBE_LOGS_S3_BUCKET_REGION
            value: {{ .Values.KUBE_LOGS_S3_BUCKET_REGION }}
          - name: SYSTEM_LOGS_S3_BUCKET_NAME
            value: {{ .Values.SYSTEM_LOGS_S3_BUCKET_NAME }}
          - name: SYSTEM_LOGS_S3_BUCKET_REGION
            value: {{ .Values.SYSTEM_LOGS_S3_BUCKET_REGION }}
          livenessProbe:
            httpGet:
              path: /fluentd.pod.healthcheck?json=%7B%22log%22%3A+%22health+check%22%7D
              port: 9880
            initialDelaySeconds: 20
            timeoutSeconds: 1
          readinessProbe:
            httpGet:
              path: /fluentd.pod.healthcheck?json=%7B%22log%22%3A+%22health+check%22%7D
              port: 9880
            initialDelaySeconds: 15
            timeoutSeconds: 1
          volumeMounts:
          - mountPath: /var/log
            name: varlog
          - mountPath: /var/lib/docker/containers
            name: varlibdockercontainers
            readOnly: true
          resources:
{{ toYaml .Values.resources | indent 12 }}
      tolerations:
      - operator: "Exists"
      volumes:
      - hostPath:
          path: /var/log
          type: ""
        name: varlog
      - hostPath:
          path: /var/lib/docker/containers
          type: ""
        name: varlibdockercontainers
