{
  "annotations": {
    "list": []
  },
  "description": "Information about {{MODEL_ID}}. Copyright 2018 EPAM Systems, Apache License, Version 2.0.",
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "hideControls": false,
  "id": null,
  "links": [],
  "refresh": false,
  "rows": [
    {
      "collapse": false,
      "height": "150",
      "panels": [
        {
          "cacheTimeout": null,
          "colorBackground": false,
          "colorValue": false,
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "datasource": "graphite",
          "format": "none",
          "gauge": {
            "maxValue": 100,
            "minValue": 0,
            "show": false,
            "thresholdLabels": false,
            "thresholdMarkers": true
          },
          "id": 3,
          "interval": null,
          "links": [],
          "mappingType": 1,
          "mappingTypes": [
            {
              "name": "value to text",
              "value": 1
            },
            {
              "name": "range to text",
              "value": 2
            }
          ],
          "maxDataPoints": 100,
          "nullPointMode": "connected",
          "nullText": null,
          "postfix": " q / min.",
          "postfixFontSize": "50%",
          "prefix": "",
          "prefixFontSize": "50%",
          "rangeMaps": [
            {
              "from": "null",
              "text": "N/A",
              "to": "null"
            }
          ],
          "span": 6,
          "sparkline": {
            "fillColor": "rgba(31, 118, 189, 0.18)",
            "full": false,
            "lineColor": "rgb(31, 120, 193)",
            "show": false
          },
          "tableColumn": "",
          "targets": [
            {
              "refId": "A",
              "target": "highestMax(hitcount(stats.legion.model.{{MODEL_ID}}.$version.request.count, '1m'), 1)",
              "textEditor": false
            }
          ],
          "thresholds": "",
          "title": "Max queries speed",
          "type": "singlestat",
          "valueFontSize": "80%",
          "valueMaps": [
            {
              "op": "=",
              "text": "N/A",
              "value": "null"
            }
          ],
          "valueName": "max"
        },
        {
          "cacheTimeout": null,
          "colorBackground": false,
          "colorValue": false,
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "datasource": "graphite",
          "format": "ms",
          "gauge": {
            "maxValue": 100,
            "minValue": 0,
            "show": false,
            "thresholdLabels": false,
            "thresholdMarkers": true
          },
          "id": 4,
          "interval": null,
          "links": [],
          "mappingType": 1,
          "mappingTypes": [
            {
              "name": "value to text",
              "value": 1
            },
            {
              "name": "range to text",
              "value": 2
            }
          ],
          "maxDataPoints": 100,
          "nullPointMode": "connected",
          "nullText": null,
          "postfix": "",
          "postfixFontSize": "50%",
          "prefix": "",
          "prefixFontSize": "50%",
          "rangeMaps": [
            {
              "from": "null",
              "text": "N/A",
              "to": "null"
            }
          ],
          "span": 6,
          "sparkline": {
            "fillColor": "rgba(31, 118, 189, 0.18)",
            "full": false,
            "lineColor": "rgb(31, 120, 193)",
            "show": false
          },
          "tableColumn": "",
          "targets": [
            {
              "refId": "A",
              "target": "highestMax(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.upper, 1)"
            }
          ],
          "thresholds": "",
          "title": "Max respond time",
          "type": "singlestat",
          "valueFontSize": "80%",
          "valueMaps": [
            {
              "op": "=",
              "text": "N/A",
              "value": "null"
            }
          ],
          "valueName": "max"
        }
      ],
      "repeat": null,
      "repeatIteration": null,
      "repeatRowId": null,
      "showTitle": false,
      "title": "Current state",
      "titleSize": "h6"
    },
    {
      "collapse": false,
      "height": "250px",
      "panels": [
        {
          "aliasColors": {},
          "bars": false,
          "cacheTimeout": "1",
          "dashLength": 10,
          "dashes": false,
          "datasource": "graphite",
          "fill": 1,
          "hideTimeOverride": false,
          "id": 1,
          "legend": {
            "alignAsTable": false,
            "avg": false,
            "current": false,
            "hideEmpty": false,
            "hideZero": false,
            "max": false,
            "min": false,
            "rightSide": false,
            "show": false,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 1,
          "links": [],
          "nullPointMode": "null",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "spaceLength": 10,
          "span": 12,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {
              "refId": "B",
              "target": "alias(hitcount(stats.legion.model.{{MODEL_ID}}.$version.request.count, '1s'), 'Queries / second')",
              "textEditor": true
            }
          ],
          "thresholds": [],
          "timeFrom": null,
          "timeShift": null,
          "title": "Queries / second",
          "tooltip": {
            "shared": true,
            "sort": 0,
            "value_type": "individual"
          },
          "transparent": false,
          "type": "graph",
          "xaxis": {
            "buckets": null,
            "mode": "time",
            "name": null,
            "show": true,
            "values": []
          },
          "yaxes": [
            {
              "format": "short",
              "label": null,
              "logBase": 1,
              "max": null,
              "min": null,
              "show": true
            },
            {
              "decimals": null,
              "format": "short",
              "label": null,
              "logBase": 1,
              "max": null,
              "min": null,
              "show": false
            }
          ]
        }
      ],
      "repeat": null,
      "repeatIteration": null,
      "repeatRowId": null,
      "showTitle": false,
      "title": "Model main metrics",
      "titleSize": "h6"
    },
    {
      "collapse": false,
      "height": 250,
      "panels": [
        {
          "aliasColors": {},
          "bars": false,
          "dashLength": 10,
          "dashes": false,
          "datasource": "graphite",
          "fill": 1,
          "id": 2,
          "legend": {
            "avg": false,
            "current": false,
            "hideEmpty": false,
            "hideZero": false,
            "max": false,
            "min": false,
            "rightSide": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 1,
          "links": [],
          "nullPointMode": "null",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "spaceLength": 10,
          "span": 12,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {
              "refId": "A",
              "target": "alias(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.upper_50, '50%')",
              "textEditor": false
            },
            {
              "refId": "B",
              "target": "alias(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.upper_90, '90%')",
              "textEditor": false
            },
            {
              "refId": "C",
              "target": "alias(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.upper_95, '95%')",
              "textEditor": false
            },
            {
              "refId": "D",
              "target": "alias(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.upper_99, '99%')",
              "textEditor": false
            },
            {
              "refId": "E",
              "target": "alias(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.upper, '100%')",
              "textEditor": false
            }
          ],
          "thresholds": [],
          "timeFrom": null,
          "timeShift": null,
          "title": "Respond timings",
          "tooltip": {
            "shared": true,
            "sort": 0,
            "value_type": "individual"
          },
          "type": "graph",
          "xaxis": {
            "buckets": null,
            "mode": "time",
            "name": null,
            "show": true,
            "values": []
          },
          "yaxes": [
            {
              "format": "ms",
              "label": null,
              "logBase": 1,
              "max": null,
              "min": null,
              "show": true
            },
            {
              "format": "short",
              "label": null,
              "logBase": 1,
              "max": null,
              "min": null,
              "show": false
            }
          ]
        }
      ],
      "repeat": null,
      "repeatIteration": null,
      "repeatRowId": null,
      "showTitle": false,
      "title": "Dashboard Row",
      "titleSize": "h6"
    },
    {
      "collapse": false,
      "height": 250,
      "panels": [
        {
          "aliasColors": {},
          "bars": false,
          "dashLength": 10,
          "dashes": false,
          "datasource": "graphite",
          "fill": 3,
          "id": 5,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 0,
          "links": [],
          "nullPointMode": "null",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [
            {
              "alias": "<=5ms",
              "color": "#43e500"
            },
            {
              "alias": ">5 ms & <=10ms",
              "color": "#4FCE01"
            },
            {
              "alias": ">10 ms & <=50ms",
              "color": "#4FCE01"
            },
            {
              "alias": ">50 ms & <=100ms",
              "color": "#5BB702"
            },
            {
              "alias": ">100 ms & <=200ms",
              "color": "#748905"
            },
            {
              "alias": ">200 ms & <=400ms",
              "color": "#817207"
            },
            {
              "alias": ">400 ms",
              "color": "#A62D0B"
            }
          ],
          "spaceLength": 10,
          "span": 12,
          "stack": true,
          "steppedLine": false,
          "targets": [
            {
              "refId": "A",
              "target": "alias(asPercent(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.histogram.bin_5, stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.count), '<=5ms')",
              "textEditor": true
            },
            {
              "refId": "B",
              "target": "alias(asPercent(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.histogram.bin_10, stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.count), '>5 ms & <=10ms')",
              "textEditor": true
            },
            {
              "refId": "C",
              "target": "alias(asPercent(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.histogram.bin_50, stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.count), '>10 ms & <=50ms')",
              "textEditor": true
            },
            {
              "refId": "D",
              "target": "alias(asPercent(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.histogram.bin_100, stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.count), '>50 ms & <=100ms')",
              "textEditor": true
            },
            {
              "refId": "E",
              "target": "alias(asPercent(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.histogram.bin_200, stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.count), '>100 ms & <=200ms')",
              "textEditor": true
            },
            {
              "refId": "F",
              "target": "alias(asPercent(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.histogram.bin_400, stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.count), '>200 ms & <=400ms')",
              "textEditor": true
            },
            {
              "refId": "G",
              "target": "alias(asPercent(stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.histogram.bin_inf, stats.timers.legion.model.{{MODEL_ID}}.$version.request.time.count), '>400 ms')",
              "textEditor": true
            }
          ],
          "thresholds": [],
          "timeFrom": null,
          "timeShift": null,
          "title": "Respond time distribution per bins",
          "tooltip": {
            "shared": true,
            "sort": 0,
            "value_type": "individual"
          },
          "type": "graph",
          "xaxis": {
            "buckets": null,
            "mode": "time",
            "name": null,
            "show": true,
            "values": []
          },
          "yaxes": [
            {
              "format": "percent",
              "label": null,
              "logBase": 1,
              "max": "100",
              "min": null,
              "show": true
            },
            {
              "format": "short",
              "label": null,
              "logBase": 1,
              "max": null,
              "min": null,
              "show": false
            }
          ]
        }
      ],
      "repeat": null,
      "repeatIteration": null,
      "repeatRowId": null,
      "showTitle": false,
      "title": "Dashboard Row",
      "titleSize": "h6"
    }
  ],
  "schemaVersion": 14,
  "style": "dark",
  "tags": [
    "model",
    "model_{{MODEL_ID}}"
  ],
  "templating": {
    "list": [
      {
        "allValue": null,
        "datasource": "graphite",
        "hide": 0,
        "includeAll": false,
        "label": "Model Version",
        "multi": false,
        "name": "version",
        "options": [
        ],
        "query": "stats.legion.model.{{MODEL_ID}}.*",
        "refresh": 1,
        "regex": "",
        "sort": 1,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      }
    ]
  },
  "time": {
    "from": "now-1h",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [
      "5s",
      "10s",
      "30s",
      "1m",
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ],
    "time_options": [
      "5m",
      "15m",
      "1h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d",
      "30d"
    ]
  },
  "timezone": "",
  "title": "Model information - {{MODEL_ID}}",
  "version": 1
}