nose
pydot-ng
cython
requests
elasticsearch
h5py
dill
python-interface
pandas
traitlets
unittest2
nose
flask
docker
jupyter
urllib3
sklearn
pydevd
python-consul
matplotlib
scipy
tensorflow
keras
Pillow
statsd
locustio
uwsgi
gunicorn
aiohttp
cchardet
aiohttp_wsgi
jsonschema