nose
pydot-ng
cython
requests
elasticsearch
h5py
dill
python-interface
pandas
unittest2
nose
flask
docker
jupyter
urllib3
sklearn
pydevd
python-consul
matplotlib
scipy
Pillow
statsd
locustio
uwsgi
gunicorn
aiohttp
cchardet
aiohttp_wsgi
PyYAML
kubernetes