nose
pydot-ng
cython
requests
elasticsearch
h5py
keras
Lasagne
lasagne_visualizer
keras-vis
dill
python-interface
pandas
traitlets
unittest2
nose
flask
docker
jupyter
urllib3
sklearn
pydevd
python-consul

