apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
{% if dashboard.insecure != true %}
    nginx.ingress.kubernetes.io/secure-backends: "true"
{% endif %}
  labels:
    k8s-app: kubernetes-dashboard
  name: kubernetes-dashboard
  namespace: kube-system
spec:
  rules:
  - host: dashboard.{{ cluster_name }}
    http:
      paths:
      - backend:
          serviceName: kubernetes-dashboard
          servicePort: {{ (dashboard.insecure == true) | ternary(80, 443) }}
  tls:
  - hosts:
    - dashboard.{{ cluster_name }}
    secretName: {{ cluster_name }}-tls
