apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
{% if dashboard.insecure != true %}
    nginx.ingress.kubernetes.io/secure-backends: "true"
    nginx.ingress.kubernetes.io/auth-tls-verify-client: "true"
{% endif %}
{% if dex.enabled == true %}
    nginx.ingress.kubernetes.io/auth-signin: https://auth.{{ cluster_name }}/oauth2/start?rd=https://$host$escaped_request_uri
    nginx.ingress.kubernetes.io/auth-url: http://oauth2-proxy.kube-system.svc.cluster.local:4180/oauth2/auth
    nginx.ingress.kubernetes.io/configuration-snippet: |
      auth_request_set $token $upstream_http_authorization;
      set_escape_uri $escaped_request_uri $request_uri;
      proxy_set_header Authorization $token;
{% endif %}
  labels:
    k8s-app: kubernetes-dashboard
  name: kubernetes-dashboard
  namespace: kube-system
spec:
  rules:
  - host: dashboard.{{ cluster_name }}
    http:
      paths:
      - backend:
          serviceName: kubernetes-dashboard
          servicePort: {{ (dashboard.insecure == true) | ternary(80, 443) }}
  tls:
  - hosts:
    - dashboard.{{ cluster_name }}
    secretName: {{ cluster_name }}-tls
