{
  "Version": "2012-10-17",
  "Statement": [
     {
      "Effect": "Allow",
      "Action": ["s3:*"],
      "Resource": [
{% for bucket in logging_buckets %}
        "arn:aws:s3:::{{ bucket }}",
        "arn:aws:s3:::{{ bucket }}/*"]{% if not loop.last %},{% endif %}

{% endfor %}
    }
  ]
}
