config:
  provider: iodc
  redirect_url: https://auth.{{ cluster_name }}/oauth2/callback
  oidc_issuer_url: https://dex.{{ cluster_name }}
  whitelist_domain: .{{ cluster_name }}
  cookie_domain: .{{ cluster_name }}
  cookie_secure: true
  cookie_expire: 24h
  email_domains: "*"
  set_authorization_header: true
  skip_provider_button: true
  scope: openid profile email offline_access groups
  http_address: 0.0.0.0:4180
  client_secret: {{ dex.config.client_secret }}
  client_id: {{ dex.config.client_id }}

ingress:
  path: /oauth2
  enabled: true
  hosts:
    - auth.{{ cluster_name }}
  tls:
  - secretName: {{ cluster_name }}-tls
    hosts:
    - auth.{{ cluster_name }}

