grafana:
  ingress:
    enabled: true
    fqdn: kube-grafana.{{ base_domain }}
    tls:
    - secretName: {{ base_domain }}-tls
      hosts:
      - kube-grafana.{{ base_domain }}

prometheus:
  ingress:
    enabled: true
    fqdn: prometheus.{{ base_domain }}
    tls:
    - secretName: {{ base_domain }}-tls
      hosts:
      - prometheus.{{ base_domain }}

alertmanager:
  ingress:
    enabled: true
    fqdn: alertmanager.{{ base_domain }}
    tls:
    - secretName: {{ base_domain }}-tls
      hosts:
      - alertmanager.{{ base_domain }}