graft legion/containers
graft legion/edi
graft legion/external
graft legion/k8s
graft legion/model
graft legion/pymodel
graft legion/serving
graft legion/static
graft legion/template_plugins
graft legion/templates
graft legion/data

recursive-include requirements *